/*------------- Images*/
.bg-img-home {
    background-image: url("../images/yogaoutside2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.logo-div {
    height: 175px;
    width: 175px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-image: url("../images/logo.png");

}

/*------------- Page Selectors*/
/*------------- Headings*/

.heading-container {
    padding-top: 300px;
    padding-bottom: 200px;
    margin: 0 auto;

}

.heading-home {
    background-color: #003B46;
    opacity: 0.5;

}

/*------------- Footer*/
/*------------- Fonts, Icons & Buttons*/
.font-style {
    font-family: 'Patrick Hand', cursive;
    color: #C4DFE6;
}


.btn {
    color: #F4874B;
}

#book-here-btn {
    background-color: #F4874B;
    color: black;
    size: 8px;
    padding: 3px;
    padding-right: 3px;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    right: 40px;
    text-align: left;
}

#menu-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: left;
}

/*------------- Images*/
body {
    position: relative;
}

/*------------- Images*/
/*------------- Images*/
/*------------- Images*/