/*------------- Images*/

.bg-img-home {
    background-image: url("../images/yogaoutside2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center center;
}

.logo-div {
    height: 175px;
    width: 175px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("../images/logo.png");

}

/*------------- Page Selectors*/
.page-selector-1 {
    background-color: #07575B;
    border-radius: 50%;
    display: inline-block;
    padding: 30px;
    height: 19em;
    width: 19em;
    text-align: center;
    margin: 10px auto;
    flex: none;
    max-width: 100%;
}

.page-selector-2 {
    background-color: #66A5AD;
    border-radius: 50%;
    display: inline-block;
    padding: 30px;
    margin-bottom: 20px;
    border: 20px;
    height: 19em;
    width: 19em;
    text-align: center;
    margin: 10px auto;
    flex: none;
    max-width: 100%;
}

.page-selector-3 {
    background-color: #003B46;
    border-radius: 50%;
    display: inline-block;
    padding: 30px;
    height: 19em;
    width: 19em;
    text-align: center;
    margin: 10px auto;
    flex: none;
    max-width: 100%;
}

.page-selector-4 {
    background-color: #134F5C;
    border-radius: 50%;
    display: inline-block;
    padding: 30px;
    height: 20em;
    width: 20em;
    text-align: center;
    margin: 10px auto;
    flex: none;
    max-width: 100%;
}

.page-selector-heading {
    font-size: 24px;
    margin: 30px 10px;
    padding: 10px 10px;
}

.page-selector-p {
    font-size: 20px;
    padding: 10px 10px;
}

/*------------- Paragraphs*/
.booking-text {
    font-size: 24px;
    text-align: center;
    margin: 10px 30px 0px 30px;
}


.booking-p-div {
    background-color: rgba(0, 59, 70, 0.45);
    margin: 25px 10px;
    font-size: 18px;
    padding: 0 0;
    text-align: center;
}

.contact-text {
    font-size: 24px;
    text-align: center;
    margin: 30px 30px 0px 30px;
}

.contact-p-div {
    background-color: rgba(0, 59, 70, 0.45);
    margin: 25px 10px;
    font-size: 18px;
    padding: 0 0;
    text-align: center;
}

.find-left {
    font-size: 1.25em;
    margin: 0 auto;
    float: left;
    height: auto;
    width: 50%;
}

.instructor-text {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.instructor-text-right {
    text-align: center;
    margin: 0 auto;
    display: block;
    float: right;
    padding: 0 75px;
}

.instructor-text-left {
    text-align: center;
    margin: 0 auto;
    display: block;
    float: left;
    padding: 0 75px;
}

p.story-p {
    text-align: center;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 50px 5px 50px;
}

.about-text {
    font-size: 28px;
    text-align: center;
    margin: 75px 30px;
}

.progressive-p {
    padding: 10px 10px;
}

.mindfulness-p {
    padding: 10px 10px;
}

.meditation-p {
    font-size: 24px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0px 100px 50px 100px;
}

.yin-p {
    padding: 10px 10px;
}

.vinyasa-p {
    padding: 10px 10px;
}

.yoga-p {
    text-align: center;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

/*------------- Headings & text*/
.booking-heading {
    background-color: rgba(0, 59, 70, 0.45);
    margin: 5px auto;
    padding: 0 auto;
    text-align: center;
    width: 50%;
    height: 100%;
}

.contact-heading {
    background-color: rgba(0, 59, 70, 0.45);
    margin: 5px auto;
    padding: 0 auto;
    text-align: center;
    width: 50%;
    height: 100%;
}


#find-us-heading {
    margin: 10px auto;
    text-decoration: underline;


}

.instructor-heading {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.story-heading {
    text-align: center;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 20px 0px;
}



.about-heading {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    background-color: rgba(0, 59, 70, 0.75);
    color: #C4DFE6 !important;
}

.h3-contact-info {
    padding: 0;
    margin: 0 auto;
}

.progressive-heading {
    padding: 10px 10px;
}

.mindfulness-heading {
    padding: 10px 10px;
}

.meditation-heading {
    height: auto;
    text-align: center;
    padding: 230px 100px 0px 100px;
    margin: 0 auto;
}

.yin-heading {
    padding: 10px 10px;
}

.vinyasa-heading {
    padding: 10px 10px;
}

.yoga-heading {
    text-align: center;
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
}

.Activity-heading {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
}



h5.social {
    text-align: center;
}


.heading-container {
    padding-top: 250px;
    padding-bottom: 200px;
    margin: 0 auto;
    font-size: 4em;

}

.heading-home {
    background-color: #003b4685;
}

/*------------- Footer*/
.footer-nav-list {
    font-size: 16px;
    text-align: center;
}

p.footer-font {
    font-size: 16px;
}

#footer {
    background-color: #134F5C;
    color: #C4DFE6;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.footer-div {
    background-color: #134F5C;
    color: #C4DFE6;
    font-size: 28px;
}

/*------------- Icons & Buttons*/
.submit-form {
    background-color: #F4874B;
    color: black;
    margin: 5px;
}

.contact-moon {
    font-size: 60px;
    text-align: center;
    margin: 5px;
}

.contact-logo {
    background-color: rgba(0, 59, 70, 0.45);
    height: 175px;
    margin-top: 5px;
    margin-left: 5px;
}

.team-icon {
    color: #F4874B;
    margin: 10px auto;
    font-size: 1.8em;
    text-align: center;

}

.about-moon {
    font-size: 60px;
    text-align: center;
    margin: 50px;
}

.heading-moon {
    font-size: 60px;
    padding: 50px 130px;
    text-align: center;
}

.page-icon {
    padding: 0 5px 0 5px;
}

.fab {
    color: #F4874B;
    text-align: center;
}

.fas {
    color: #F4874B;
}

.fa-arrow-circle-down {
    text-align: center;
    line-height: inherit;
    margin: 0;
    color: #003B46;
}

.btn {
    color: #F4874B;
    padding: 0;
}

.page-btn {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    color: #003B46;
    background-color: #F4874B;
    text-align: center;
    margin-top: 15px;
}

#booking-btn {

    color: #F4874B;
    border-radius: 20px;
    text-align: center;
}

#menu-btn {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-align: left;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.5em;
}

/*------------- General*/
#booking-info {
    height: 650px;
}

.form-group {
    padding: 0 auto;
    margin: 0 auto;
}

form {
    background-color: rgba(0, 59, 70, 0.5);
    background-size: cover;
    margin: 0 20px;
}

.map-container {
    margin: 150px auto;
}

.color-break {
    background-color: #003B46;
    height: 5em;
    width: 100%;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.font-style {
    font-family: 'Patrick Hand', cursive;
    color: #C4DFE6;
}

body {
    position: relative;
}

.row {
    padding: 0;
    margin: 0;
}

/*------------- Lists*/
.li-inline {
    display: inline;
}

/*------------- backgrounds and background images*/

#booking-img-background {
    background-image: url("../images/rocks1.jpeg");
    background-repeat: no-repeat;
    background-color: #66A5AD;
    background-size: cover;
    background-position: center;
}

.booking-left {
    float: left;
    height: 500px;
    width: 45%;
}

.booking-right {
    background-color: #66A5AD;
    height: 500px;
    width: 55%;
    float: right;
}


.contact-left {
    float: left;
    height: 500px;
    width: 45%;
}

.contact-right {
    background-color: #07575B;
    height: 500px;
    width: 55%;
    float: right;
}



.contact-img {
    background-image: url("../images/harmony1.jpg");
    background-repeat: no-repeat;
    background-color: #66A5AD;
    background-size: cover;

}

.map-container {
    height: 100px;
    width: 200px;
    background-color: #F4874B;
    float: right;
}

div.find-us-div {
    background-color: #003B46;
    height: 25em;
    width: 100%;
    float: left;
}

div.about-info-color {
    background-color: #66A5AD;
}

.instructor-divs {
    height: 100%;
    width: 33%;
}

.instructor1-img {
    background-image: url("../images/instructor1.png");
    height: 15em;
    width: 15em;
    background-size: contain;
    float: left;
    margin: 50px 40px;
    display: block;
}

.instructor2-img {
    background-image: url("../images/instructor2.png");
    height: 15em;
    width: 15em;
    background-size: contain;
    float: right;
    margin: 50px 40px;
    display: block;
    padding-right: 6em;
}

.instructor3-img {
    background-image: url("../images/instructor3.png");
    height: 15em;
    width: 15em;
    background-size: contain;
    background-position: center;
    margin: 20px auto;
    display: block;

}


.team-div {
    background-color: #07575B;
    height: 30em;
    width: 100%;
}

.story-div {
    background-color: #66A5AD;
    height: 25em;
    width: 100%;
}



.about-right {
    background-color: #07575B;
    height: 50vh;
    width: 40%;
    display: inline;
    float: right;
}

.about-left {
    background-image: url("../images/studio2.jpg");
    background-repeat: no-repeat;
    height: 50vh;
    width: 60%;
    background-color: #003B46;
    background-size: cover;
    display: inline;
    float: left;
    position: relative;
}

.info-div {
    background-color: #003B46;
    text-align: center;
    font-size: 32px;
}


.mindfulness-div {
    text-align: center;
    background-color: #66A5AD;
    height: 40vh;
    width: 50%;
    display: inline;
    float: right;
}

.progressive-div {
    text-align: center;
    background-color: #07575B;
    height: 40vh;
    width: 50%;
    display: inline;
    float: left;
}


.meditation-img {
    background-image: url("../images/meditation2.jpeg");
    background-color: #003B46;
    width: 100%;
    height: 50vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.schedule-evening {
    height: 50%;
    width: 50%;
    display: inline;
    float: right;
}

.schedule-morning {
    height: 50%;
    width: 50%;
    display: inline;
    float: left;
}

.container {
    padding: 0 0;
}

.container-fluid {
    padding: 0;
    margin: 0 auto;
}

.yin-div {
    text-align: center;
    background-color: #07575B;
    height: 40vh;
    width: 50%;
    display: inline;
    float: right;
}

.vinyasa-div {
    text-align: center;
    background-color: #66A5AD;
    height: 40vh;
    width: 50%;
    display: inline;
    float: left;
}

.activity-head-left {
    background-image: url("../images/Yogatraining1.jpeg");
    background-repeat: no-repeat;
    height: 50vh;
    width: 60%;
    background-color: #66A5AD;
    background-size: cover;
    display: inline;
    float: left;
    position: relative;
}

.activity-head-right {
    background-color: #003B46;
    height: 50vh;
    width: 40%;
    display: inline;
    float: right;
}


/*------------- Images*/