/*------------- Images*/
.bg-img-home {
    background-image: url("../images/yogaoutside2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*------------- Page Selectors*/
/*------------- Headings*/
h1 {
    padding-top: 250px;
    padding-bottom: 200px;
    margin: 0 auto;

}

/*------------- Footer*/
/*------------- Fonts, Icons & Buttons*/
.font-style {
    font-family: 'Patrick Hand', cursive;
    color: #C4DFE6;
}


.btn {
    color: #F4874B;
}

#book-here-btn {
    background-color: #F4874B;
    color: black;
    size: 8px;
    padding: 3px;
    padding-right: 3px;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    right: 40px;
    text-align: left;
}

#menu-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: left;
}

/*------------- Images*/
body {
    position: relative;
}

/*------------- Images*/
/*------------- Images*/
/*------------- Images*/